{% extends 'base.html' %}


{% block content %}
<div class="card">
    <h5 class="card-header container">Order</h5>
    <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        {% for order in orders: %}
            {% for ticket in order.tickets(): %}
            <div class="row">
                <div class="col-sm-10">
                    <p class="card-text">{{ticket.title}}</p>
                </div>
                <div class="col-sm">
                    <p class="card-text">1</p>
                </div>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock content %}